body {

  }
  
  .Conteneur
{
  flex-direction: row;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  perspective: 650px;
}

.Right
{
  height: 500px; width: 400px;
  position: absolute; top: 0px;
  animation: rotateAnimation 4s linear;
  transform-style: preserve-3d;
}

.Left
{
  height: 500px; width: 400px;
  position: absolute; top: 0px;
}


.screen1
{
background: url(lefty.jpg);
   height: 99%;
   width: 99%;
   border-bottom-left-radius: 25px;
   border-top-left-radius: 25px;
   position: absolute;
   left: 1%;
   margin-top: 1%;
   opacity: 0;
   transition: opacity 5s;
   
}
.rectangle1
{
  position: relative;
background-color: rgb(192, 192, 192);
   height: 500px;
   width: 200px;
   border-bottom-left-radius: 25px;
   border-top-left-radius: 25px;
   margin-top: 4%;

}
.screen2
{
background: url(righty.jpg);
   height: 99%;
   width: 99%;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
   position: absolute;
   right: 1%;
   margin-top: 1%;
   margin-bottom: 1%;
   opacity: 0;
   transition: opacity 4s;

}

.screen2b
{
  background: url(front.jpg);
   height: 99%;
   width: 98%;

   position: absolute;
   right: 1%;
   margin-top: 0.5%;
   margin-bottom: 1%;

}

.rectangle2
{
background-color: rgb(192, 192, 192);
   height: 500px;
   width: 200px;
   margin-top: 4%;
   margin-left: 50%;

   position:absolute;

   

}

.rectangle2b
{
background-color: rgb(192, 192, 192);
   height: 500px;
   width: 200px;
   margin-top: 4%;
   margin-left: 50%;
   position: absolute;
   transform: translateZ(-7px);
   

}
.battery
{
background: url(battery.png);
position:absolute;
height:  6% ; width: 22%;
background-size: 45px 36px;
right : 1%;
top : 0.2%;
transform: translateX(15px) translateY(-1px);
}

.percentage
{
background: url(percentage.png);
position:absolute;
height:  6% ; width: 22%;
background-size: 45px 36px;
right : 1%;
top : 0.2%;
transform: translateX(-2px) translateY(-1px);
}


.batteryReverse
{
background: url(battery.png);
position:absolute;
height:  6% ; width: 22%;
background-size: 45px 36px;
right : 1%;
top : 0.2%;
transform: translateX(-162px) translateY(-1px);
}

.percentageReverse
{
background: url(percentageReverse.png);
position:absolute;
height:  6% ; width: 22%;
background-size: 45px 36px;
right : 1%;
top : 0.2%;
transform: translateX(-143px) translateY(-1px);
}

.wifi
{
  background: url(wifi.png);
  position:absolute;
  height:  6% ; width: 22%;
  background-size: 45px 36px;
  right : 1%;
  top : 0.2%;
  transform: translateX(-45px) translateY(-1px);

}

.wifiReverse
{
  background: url(wifiReverse.png);
  position:absolute;
  height:  6% ; width: 22%;
  background-size: 45px 36px;
  right : 1%;
  top : 0.2%;
  transform: translateX(-100px) translateY(-1px);

}

.date
{
  background: url(Date.png);
  position:absolute;
  height:  18% ; width: 66%;
  background-size: 135px 108px;
  right : 1%;
  top : 0.2%;
  transform: translateX(-15px) translateY(65px);

}

.network
{
  background: url(network.png);
  position:absolute;
  height:  6% ; width: 22%;
  background-size: 45px 36px;
  right : 1%;
  top : 0.2%;
  transform: translateX(-25px) translateY(-1px);

}

.networkReverse
{
  background: url(networkReverse.png);
  position:absolute;
  height:  6% ; width: 22%;
  background-size: 45px 36px;
  right : 1%;
  top : 0.2%;
  transform: translateX(-120px) translateY(-1px);

}

.time
{
  background: url(time.png);
  position:absolute;
  height:  6% ; width: 22%;
  background-size: 45px 36px;
  right : 1%;
  top : 0.2%;
  transform: translateX(-150px) translateY(-1px);

}

.timeReverse
{
  background: url(timeReverse.png);
  position:absolute;
  height:  6% ; width: 22%;
  background-size: 45px 36px;
  right : 1%;
  top : 0.2%;
  transform: translateX(-3px) translateY(-1px);

}

.icon
{
  width: 22%;
  height: 8.8%;
  position: absolute;
  transition: all .1s ease-in-out;
}

.icon:hover 
        {
            height: 12%;
            width: 30%;
        }

.insta
{
background: url(insta.jpg);
background-size: 100% 100%;
transform: translateX(80px) translateY(370px);
}

.twitter
{
background: url(twitter.png);
background-size: 100% 100%;
transform: translateX(140px) translateY(370px);
}

.call
{
background: url(call.png);
background-size: 100% 100%;
transform: translateX(20px) translateY(430px);
}

.message
{
background: url(message.png);
background-size: 100% 100%;
transform: translateX(140px) translateY(430px);
}

.galery
{
background: url(galery.png);
background-size: 100% 100%;
transform: translateX(50px) translateY(430px);
}

.photo
{
background: url(photo.png);
background-size: 100% 100%;
transform: translateX(110px) translateY(430px);
}

.snap
{
  background: url(snap.jpg);
  background-size: 100% 100%;
  transform: translateX(20px) translateY(370px);
}
  
.discord
{
  background: url(discord.png);
  background-size: 100% 100%;
  transform: translateX(20px) translateY(370px);
}

.youtube
{
  background: url(youtube.png);
  background-size: 100% 100%;
  transform: translateX(80px) translateY(370px);
}

.dokkan
{
  background: url(dokkan.png);
  background-size: 100% 100%;
  transform: translateX(140px) translateY(370px);
}

.weather
{
  background: url(weather.png);
  background-size: 100% 100%;
  transform: translateX(15px) translateY(150px);
  height: 105px;
  width: 175px;
}


.callReverse
{
background: url(callReverse.png);
background-size: 100% 100%;
transform: translateX(130px) translateY(430px);
}

.photoReverse
{
background: url(photo.png);
background-size: 100% 100%;
transform: translateX(20px) translateY(430px);
}








.grid{
  height:23px;
  position:relative;
  bottom:4px;
}



.bar{
  margin:1 auto;
  transform: translateX(3px) translateY(150px);
  width:190px;
  border-radius:30px;
  border:0px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:20px;
  border:none;
  border-radius:30px;
  width:180px;
  font-size:16px;
  outline: none;
  transform: translateX(4px) translateY(0px);
  
}
.voice{
  height:13px;
  position:relative;
  transform: translateX(162px) translateY(-23px);
  top:5px;
  left:10px;
}



.border
{
     background: linear-gradient(57deg,
     rgb(192, 192, 192) 0%,
      rgb(192, 192, 192) 36%,
       rgb(192, 192, 192) 41%,
         rgb(192, 192, 192) 47%,
         rgb(192, 192, 192) 95%);
     height: 500px;  width: 10px;
     border-top-right-radius: 10%;
     position: absolute; right: 0px;
     transform: rotateY(90deg) translateX(4px) translateZ(5px) translateY(16px);
}
.topBorder
{
   background-color: rgb(192, 192, 192);
     height: 10px;  width: 200px;
     position: absolute; right: 0px;
     transform: translateX(0px) translateZ(-3px) translateY(11px) rotateX(90deg);
}
input[type="checkbox"]:checked ~ .Conteneur .Right 
        {
            animation: rotateAnimation 2s linear;
            animation-fill-mode: forwards;
        }

        input[type="checkbox"]:checked ~ .Conteneur > .Left > .rectangle1 > .screen1 > .icon
        {
          z-index: -100;
        }

        input[type="checkbox"]:not(:checked) ~ .Conteneur .Right 
        {
            animation: rotateAnimation2 2s linear;
            animation-fill-mode: forwards;
        }
        input[type="checkbox"]:not(:checked) ~ .Conteneur > .Left > .rectangle1 > .screen1 > .icon
        {
          z-index: 100;
        }

        input[type="checkbox"]:not(:checked) ~ .Conteneur .screen1
        {
            opacity: 1;
        }
        input[type="checkbox"]:not(:checked) ~ .Conteneur .screen2
        {
            opacity: 1;
        }
@keyframes rotateAnimation {
	0% {transform: rotateY(0deg);}
	100% {transform: rotateY(-180deg);}
}

@keyframes rotateAnimation2 {
	0% {transform: rotateY(-180deg);}
	100% {transform: rotateY(0deg);}
}

